.list-group-item {
  line-height: 2.5;
}

.title {
  /* background-image: url(../background.jpeg); */
  color: purple;

}

nav{
  color: #a5d6a7; 
}

body{
    background-image: url(background.jpeg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  

}

.fix-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow:hidden;
}