.list-group-item {
  line-height: 2.5;
}

a , .title{
  color: #3a6129; 
}

body{
    background-image: url(../images/background.jpeg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  

}

.button.is-success {
  background-color:  #3a6129;
}

